[
	{"id": "gmail", "name": "🏢 gmail", "type": "auto_group", "rules": { "domains": ["@%gmail.com"], "keywords": [], "importance_min": 0, "ttl_days" : 0}},
	{"id": "outlook", "name": "🏢 outlook", "type": "auto_group", "rules": { "domains": ["@%outlook.com", "@hotmail.com"], "keywords": [], "importance_min": 0,"ttl_days" : 0 } },
]
