name: Wails Windows Build

on:
  workflow_dispatch:
  push:
    branches:
      - develop  # メインブランチ名
    tags:
      - 'v*'   # v1.0.0 などのタグを打った時も動くように設定

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, macos-latest]
    
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Build Wails App
        run: |
          # wails build の実行。
          # windows の場合は自動的に .exe が生成されます
          wails build

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Wails-Binary-${{ matrix.os }}
          path: build/bin/
